body{
    background-color: #209090;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  height: 100%;
}

li{
   list-style-type: none;
}

header{
  flex-basis: 15%;
  background-color: #277;
}

.main{
  flex-basis: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
}

.comments{
  display: flex;
  justify-content: flex-end;
}

.comments-list{
  flex-basis: 85%;
  background-color: #009c9c;

}
